@model DesafioIclips.Models.PessoasListViewModel

<div class="title">
    @ViewBag.Title
    <span>
        <button type="button" class="btn btn-cadastro f-right mt-1">Cadastrar lorem</button>
    </span>
</div>

<div id="divTablePessoas">
    @Html.Partial("_Pessoas", Model)
</div>

@section scripts
{
    <script>
        
        $("tr").click(function () {
            $(this).addClass("selected").siblings().removeClass("selected");
        });

        pessoasArray =  @Html.Raw(Json.Encode(Model.Pessoas));

        var pessoasJSON = JSON.stringify(pessoasArray)

        var ordenar = function () {
            $.ajax({
                type: "POST",
                url: '/Pessoa/Ajax_OrdenaPessoas',
                data: {
                    pessoasJSON: pessoasJSON
                },
                success: function (data) {
                    $("#divTablePessoas").html(data);
                },
                error: function () {
                    alert("Erro com o servidor!");
                }
            });
        }

        $(".btn-cadastro").click(function () {
            console.log(pessoasJSON);
            ordenar();
        });
    </script>
}